# Pydantic AI Gateway API Key
PYDANTIC_AI_GATEWAY_API_KEY=xxxx

# Model Configs
JAC_MODEL=ollama:gemma4:e2b

# Ollama Base URL - Use when using Ollama as the LLM provider
OLLAMA_BASE_URL=http://localhost:11434/v1

# LLM Provider API Keys
GEMINI_API_KEY=xxxx
ANTHROPIC_API_KEY=xxxx
OPENAI_API_KEY=xxxx
MISTRAL_API_KEY=xxxx
OPENROUTER_API_KEY=xxxx
LITELLM_API_KEY=xxxx